<% is_add = (defined? pic).nil? %>
<h2><%= is_add ? "New pic" : "Editing pic ##{pic.id}" %></h2>
<form method="post" enctype="multipart/form-data">
	<% if is_add %>
		<div class="clearfix">
			<label for="form_pic">Picture</label>
			<div class="input">
				<input type="file" id="form_pic" name="pic">
			</div>
		</div>
	<% else %>
		<img src="<% mini_path(pic.id) %>" alt="">
	<% end %>

	<div class="clearfix">
		<label for="form_msg">Message</label>
		<div class="input">
			<textarea id="form_msg" name="msg"><%= pic.msg unless is_add %></textarea>
		</div>
	</div>

	<div class="actions">
		<input type="submit" class="btn primary" value="Save">
		<a href="/admin" class="btn">Cancel</a>
	</div>
</form>
