<div id="viewer">
  <a href="#" class="next-prev" id="prev-pic"></a>
  <div id="pic-wrap">
    <ul id="tourist-pics">
      <% pics.each do |pic| %>
        <li>
          <img src="<%= mini_path(pic.id) %>" alt="" />
          <p><%= pic.msg %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <a href="#" class="next-prev" id="next-pic"></a>
</div>
